# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    labels:
      - "dependency-updates"
    versioning-strategy: increase
    allow:
      - dependency-type: "production"
    assignees: [zachleat]

  - package-ecosystem: github-actions
    directories: [".github/workflows/**"]
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    assignees: [zachleat]
