root = true

[*]
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.yml]
indent_style = space

[/test/**/*]
indent_style = space

[/test/stubs*/**]
insert_final_newline = false
trim_trailing_whitespace = false
