language: node_js
node_js:
  - 8
  - 10
  - 12
before_script:
  - npm install
script: npm run test
branches:
  except:
    - gh-pages
sudo: false
os:
  - linux
  - osx
  - windows
env:
  - YARN_GPG=no
