---
venues:
  - first
  - second
pagination:
  data: venues
  size: 1
  alias: venue
  addAllPagesToCollections: true
permalink: "venues/{{ venue }}/"
tags: venue
eleventyComputed:
  title: "{{ venue }}"
---