---
pagination:
  - data: things
    size: 1
    alias: font.test
  - data: otherthings
    size: 1
    alias: other.test
things:
  - item1
  - item2
  - item3
otherthings:
  - other1
  - other2
  - other3
permalink: pagedalias/{{ font.test }}/{{ other.test }}/index.html
---
foo