---
pagination:
  data: items
  size: 5
items:
  - Slug CANDIDATE
  - item2
  - item3
  - item4
  - item5
  - another-slug CandiDate
  - item7
  - item8
permalink: paged/page-{{ pagination.pageNumber }}/index.html
---
<ol>{% for item in pagination.items %}<li>{{ item }}</li>{% endfor %}</ol>
