---
pagination:
  data: items
  size: 2
items:
  - item1
  - item2
  - item3
  - item4
permalink: paged/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}index.html
---
<ol>{% for item in pagination.items %}<li>{{ item }}</li>{% endfor %}</ol>
