---
permalink: /deep/
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title></title>
<style>div { background-image: url(test.jpg); }</style>
<style>div { background-image: url({{ "/test.jpg" | htmlBaseUrl }}); }</style>
<link rel="stylesheet" href="/test.css">
<script src="/test.js"></script>
</head>
<body>
<a href="/">Home</a>
<a href="subdir/">Test</a>
<a href="./subdir/">Test</a>
<a href="../subdir/">Test</a>
</body>
</html>