---
key1: value1
eleventyComputed:
  permalink: "haha-{{key2}}.html"
  key2: "{{key1}}"
  dependsOnPage: "depends:{{page.url}}"
  nested:
    key3: "{{key1}}"
    key4: "depends on computed {{key2}}"
---
hi:{{ key2 }}
