{{ "/" | locale_url }}
{{ "/en-us/" | locale_url }}
{{ "/es/" | locale_url }}
{{ "/" | locale_url("en-us") }}
{{ "/non-lang-file/" | locale_url }}
{{ page.url | locale_links | dump | safe }}
{{ "" | locale_links | dump | safe }}
{{ page.lang }}