---
argData:
  num: 2
---
{% setAsync "liquidOutput" %}
{% renderTemplate "liquid", argData %}
{% assign liquidVar = num | times: 2 %}
{{ liquidVar }}
{% endrenderTemplate %}
{% endsetAsync %}
{{ liquidOutput }}