---
# Nunjucks
hi: nunjucksHi
argData:
  hi: liquidHi
  bye: liquidBye
---
{%- set nunjucksVar = 69 -%}
{{ hi }}
{{ nunjucksVar }}
{% renderTemplate "liquid", argData %}
{% assign liquidVar = 138 %}
* {{ hi }} test test {{ bye }} {{ liquidVar }}
{% endrenderTemplate %}
