name: Unit Tests
on: push
permissions: read-all
jobs:
  server:
    name: Node.js v${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        node: ["20", "22", "24"]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: ${{ matrix.node }}
          # cache: npm
      - run: npm ci
      - run: npm run test:server
  client:
    name: Vitest on ${{ matrix.os }} (Node.js v${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        node: ["22"]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npx playwright install
      - run: npm run test:client
env:
  YARN_GPG: no
