name: Publish Release to npm
on:
  release:
    types: [published]
permissions: read-all
jobs:
  release:
    # see https://github.com/11ty/eleventy/settings/environments
    environment: GitHub Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # 4.0.3
        with:
          node-version: "22"
          registry-url: 'https://registry.npmjs.org'
      - run: npm install -g npm@latest
      - if: ${{ github.event.release.tag_name != '' && env.NPM_PUBLISH_TAG != '' }}
        # Also runs npm ci and npm test
        run: ./scripts/release.sh
        env:
          NPM_PUBLISH_TAG: ${{ contains(github.event.release.tag_name, '-beta.') && 'beta' || contains(github.event.release.tag_name, '-alpha.') && 'canary' || 'latest' }}
